{% extends 'bibli/base.html'%}{% block content %}
<html>
    <body>

    <h1><a>Detalles</a></h1> 
    
    <div>  
        <h2><a>{{ libro.titulo }}</a></h2>
        {% for autor in libro.autores.all %}
        <p>Autores: {{ libro.autores|linebreaksbr }}</p> 
        {% endfor %}
        <p>Editorial: {{ libro.editorial }}</p>
        <p>Genero: {{ libro.genero }}</p>
        <p>ISBN: {{ libro.ISBN }}</p>
        <p>Resumen: {{ libro.resumen }}</p>
        <p>Disponibilidad: {{ libro.disponibilidad }}</p>
        {% if libro.portada %}
            <img src="{{ libro.portada.url }}" width="200" height="270">
        {% endif %}
    </div><br>
  
 <div>
    <a href="{%  url 'actualiza_form' pk=libro.pk %}">Edita este libro</a><br>
    <a href="{%  url 'delete' pk=libro.pk %}">Borra este libro</a><br>

    {% if libro.disponibilidad == 'disponible' %}
        <a href="{%  url 'realizar_prestamo' pk=libro.pk %}">Realizar préstamo</a><br>
        {% else %}
            <a href="{%  url 'realizar_devolucion' pk=libro.pk %}">Realizar devolución</a>
    {% endif %}

    <a href="{% url 'libro_list' %}">Lista de libros disponibles</a><br>
</div>
</body>
</html>
{% endblock %}
