{% extends 'bibli/base.html'%}{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrado por género y editorial</title>
</head>
<body>
    <h1>Filtrado de libros disponibles</h1>
    <form method="get" action="{% url 'genero_list' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form><br>

    <table method="post" action="{% url 'genero_list' %}">
    {% if object_list %}
    {% for libro in object_list %}
        <h2>Libros encontrados</h2>
        <ul>
                <p>Título: {{ libro.titulo }}</p>
                <p>Genero: {{ libro.genero }}</p>
                <p>Editorial: {{ libro.editorial }}</p>
                {% for autor in libro.autores.all %}
                <p>Autores: {{ autor.nombre }}</p> 
                {% endfor %}
                <p>Resumen: {{ libro.resumen }}</p>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}" width="200" height="270"><br><br>
                {% endif %}
                <a href="{%  url 'realizar_prestamo' pk=libro.pk %}">Realizar Prestamo</a><br><br>
        </ul>
    {% endfor %}
{% else %}
    <p>No se encontraron libros con el género y editorial que desea</p>
{% endif %}
</table>

<a href="{% url 'libro_list' %}">Lista de libros disponibles</a><br>

</body>
</html>
{% endblock %}
