<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtrado por género</title>
</head>
<body>
    <h1>Filtrado de libros</h1>
    <form method="get" action="{% url 'genero_list' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Buscar</button>
    </form><br>

    <table method="post" action="{% url 'genero_list' %}">
    {% if libros_list %}
    {% for libro in libros_list %}
        <h2>Libros de {{ libro.genero }}</h2>
        <ul>
            {% for libro in libros.all %}
                <li>Título: {{ libro.titulo }}</li>
                {% for autor in libro.autores.all %}
                    <p>Autores: {{ autor.nombre }}</p> 
                {% endfor %}
                <li>Resumen: {{ libro.resumen }}</li>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}">
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No se encontraron libros para el género seleccionado.</p>
{% endif %}
</table>

<a href="{% url 'libro_list' %}">Lista de libros disponibles</a><br>

</body>
</html>
