<html>
    <body>

    <h1><a href="/">Lista de Libros</a></h1> 
    {% for libro in libro_list %}  
    <div>  
        <h2><a href="{% url 'detalles' pk=libro.pk %}">{{ libro.titulo }}</a></h2>
        {% if libro.portada %}
            <img src="{{ libro.portada.url }}">
        {% endif %}
    </div>
    {% endfor %}
 <div>
    <a href="{% url 'nuevo_libro' %}">Agregar nuevo libro</a><br>
    <a href="{% url 'mislibros' %}">Mis libros</a><br>
    <a href="{% url 'genero_list' %}">Filtrar por género</a>
</div>
</body>
</html>
