{% extends 'bibli/base.html'%}{% block content %}
<html>
    <body>

    <h1><a href="/">Lista de Libros</a></h1> 
    {% for libro in libro_list %}  
    <div>  
        <h2><a href="{% url 'detalles' pk=libro.pk %}">{{ libro.titulo }}</a></h2>
        {% if libro.portada %}
            <img src="{{ libro.portada.url }}" width="200" height="270">
        {% endif %}
    </div><br>
    {% endfor %}
 <div>
    <a href="{% url 'nuevo_libro' %}">Agregar nuevo libro</a><br>
    <a href="{% url 'mislibros' %}">Mis libros</a><br>
    <a href="{% url 'genero_list' %}">Filtrar por género</a><br>
    <a href="{% url 'panel' %}">Panel</a><br>
    <a href="{% url 'login' %}">Iniciar sesión</a><br>
    <a href="{% url 'logout' %}">Cerrar sesión</a><br>
</div>
</body>
</html>
{% endblock %}
